*~
# Ignore glide files/folders
glide.lock
vendor/
# Ignore Jetbrains IDE folder
.idea/*
# Ignore vim .swp buffers for open files
.*.swp
.*.swo
# Ignore local development scripts
localdev_*
# Ignore logs
*.log
# Android things
*.iml
/android/.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
/android/.DS_Store
/android/build
/android/captures
/android/.externalNativeBuild
*.apk
*.ap_
*.dex
*.class
*.aar
*.jar
# Ignore genered version file
cmd/version_vars.go
